/* styles.css */

/* Primary Colors */
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral Colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--cream);
    color: var(--dark-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

/* Product container */
.product_container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;

}

/* Product image */
.product_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Product info */
.product_info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_info h1 {
    font-family: 'Montserrat';
    color: var(--dark-grayish-blue);
    font-size: 0.8em;
}

.product_info h2 {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 1.9em;
    color: var(--very-dark-blue);
    margin: 10px 0;
}

.product_info p {
    font-size: 1em;
    color: var(--dark-grayish-blue);
    margin-bottom: 20px;
}

/* Pricing */
.pricing {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.price_tag {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(0, 85, 85);
    margin-right: 25px;
}

.main_price_tag {
    text-decoration: line-through;
    color: darkgray;
}

/* Add to Cart button */
.add_to_cart_btn {
    display: flex;
    align-items: center;
    background-color: rgb(0, 85, 85);
    color: white;
    padding: 10px 30px;
    font-size: 1.3em;
    border-radius: 5px;
}

.add_to_cart_btn img {
    color: red;
}

.add_to_cart_btn:hover {
    background-color: rgb(0, 36, 36);
}